@model IEnumerable<WhatsUpV2.EFModels.Message>

@{
    ViewBag.Title = "Chat";
}

<h2>Messages</h2>

@using (Html.BeginForm("Send", "Chats", new { chatId = ViewContext.RouteData.Values["id"] }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.Editor("messageText", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <input type="submit" value="Send" class="btn btn-default" />
        </div>
    </div>
}

@foreach (var item in Model)
{

    <p>
        <b>@item.Sender</b>:@item.Text
    </p>
}
